{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-es2015-spread",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-es2015-modules-commonjs"
  ],
  "sourceMaps": "both"
}
